@import './mixin.less';

// 1.0.0 btn 样式无active状态

.comic-btn, .comic-btn:active, .comic-btn:focus {
  outline: 0;
}

// 按钮组
.comic-btn-group {
  display: inline-block;

  button {
    margin: 0 0 12px;
    border-radius: 0;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
    &:not(:last-child) {
      border-right: 1px solid @comic-white;
    }
    &:hover {
      border-color: inherit;
    }
  }
}

.comic-btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 5px;
  background: @comic-white;
  border-color: @comic-border-color;
  color: @comic-text;
  margin-right: 8px;
  margin-bottom: 12px;
}

.comic-btn:not([disabled]):hover {
  text-decoration: none;
}

.is-round {
  border-radius: 20px !important;
}
.is-plain {
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }
}
.comic-btn {

  &-large {
    padding: 6px 20px;
    font-size: 16px;
  }

  &-small {
    padding: 2px 12px;
    font-size: 12px;
  }

  // 主色
  &-primary {
    .button-color(@dark-arcoblue-6, @dark-arcoblue-9, @dark-arcoblue-9);
  }

  &-primary:hover {
    .button-color(@dark-arcoblue-6, @dark-arcoblue-9, @dark-arcoblue-6);
  }

  &-primary[disabled] {
    .button-disabled(@dark-arcoblue-7, @dark-arcoblue-10, @dark-arcoblue-9);
  }

  // 成功
  &-success {
    .button-color(@dark-green-6, @dark-green-9, @dark-green-9);
  }

  &-success:hover {
    .button-color(@dark-green-6, @dark-green-9, @dark-green-6);
  }

  &-success[disabled] {
    .button-disabled(@dark-green-7, @dark-green-10, @dark-green-9);
  }


  // 警告
  &-warning {
    .button-color(@dark-orange-6, @dark-orange-9, @dark-orange-9);
  }

  &-warning:hover {
    .button-color(@dark-orange-6, @dark-orange-9, @dark-orange-6);
  }

  &-warning[disabled] {
    .button-disabled(@dark-orange-7, @dark-orange-10, @dark-orange-9);
  }

   // 警告
  &-danger {
    .button-color(@dark-red-6, @dark-red-9, @dark-red-9);
  }

  &-danger:hover {
    .button-color(@dark-red-6, @dark-red-9, @dark-red-6);
  }

  &-danger[disabled] {
    .button-disabled(@dark-red-7, @dark-red-10, @dark-red-9);
  }

  // text
  &-text {
    .button-color(@comic-text, transparent, transparent);
    text-shadow: none;
    box-shadow: none;
  }

  &-text[disabled] {
    .button-disabled(@dark-gray-6, transparent, transparent);
  }

  // link 
  &-link {
    .button-color(@dark-arcoblue-7, transparent, transparent);
    text-shadow: none;
    box-shadow: none;
  }

  &-link[disabled] {
    .button-disabled(@dark-gray-6, transparent, transparent);
  }

}