* {
  margin: 0;
  padding: 0;
}
.comic-scrape {
  position: relative;

  &-canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-inner-text {
    // position: absolute;
    // left: 130px;
    // top: 35px;
    // z-index: -1;
  }
}