.comic-message {
  position: fixed;
  top: 12px;
  left: 50%;
  z-index: 9999;
  width: fit-content;
  padding: 8px 16px;
  font-size: 14px;
  box-shadow: 0 2px 12px #00000026;
  transform: translateX(-50%);
}
