#grid-basic,
#grid-align,
#grid-wrap,
#grid-offset {
  .comic-col {
    padding: 8px 0;
    color: @arcoblue-7;
    background: @arcoblue-3;
    &:nth-child(2n) {
      color: @arcoblue-8;
      background: @arcoblue-4;
    }
  }
}

#grid-gutter,
#grid-justify {
  .comic-col {
    > div {
      padding: 8px 0;
      color: @arcoblue-7;
      background: @arcoblue-3;
    }
  }
}
