.input-disabled(@color: @disable-color; @background: @gray-1; @border: @gray-4) {
  &,
  & > input,
  &:hover,
  &:focus,
  &:active {
    color: @disable-color;
    background-color: @background;
    border-color: @border;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
  }
}

.size(@height; @font-size; @border-radius: 4px) {
  height: @height;
  line-height: @height;
  border-radius: @border-radius;
  input {
    font-size: @font-size;
  }
}
// 1.0.0 只支持后缀
.extra(@right, @color: @dark-gray-5) {
  position: absolute;
  top: 50%;
  right: @right;
  color: @color;
  transform: translateY(-50%);
}
